/* CSS library */

/* Components */
@import url('./components/topnavbar_style.css');
@import url('./components/form_style.css');
@import url('./components/buttons_style.css');
@import url('./components/dropdown_style.css');
@import url('./components/dashboard-style.css');



/* Fonts */
@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);

    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf)
}

body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: small; 
    text-align: left;
}