/* CSS library */

/* Components */
@import url('./components/topnavbar_style.css');
@import url('./components/form_style.css');
@import url('./components/buttons_style.css');


/* Fonts */
@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);

    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf)
}

body{
    margin:0;
    font-family:Roboto-Light;
    font-size: small; 
    text-align: left;
}